.back-button {
  padding: 0 27px;
  width: 60px;

  @include sm-tablets {
    width: 90px;
  }

  @include md-desktop {
    width: 160px;
  }

  span {
    display: none;

    @include md-desktop {
      display: block;
    }
  }
}
