.disabled-field {
  width: 100%;

  &__label {
    color: var(--gray-100);
    line-height: 160%;
    font-size: 12px;
    display: flex;
  }

  &__content {
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 12px;
    line-height: 19.2px;

    background-color: var(--gray-10);
  }
}
