.icon-button {
  min-width: 48px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-10);
  color: var(--main-100);
  border-radius: 4px;
  border: 1px solid var(--white-10);
  transition: all ease-out 0.3s;

  &:focus {
    border-color: var(--main-100);
  }

  &:hover {
    box-shadow: var(--button-shadow);
  }

  &:active {
    box-shadow: none;
  }

  &.disabled {
    background-color: var(--gray-70);
    color: white;
  }
}
