.main-navbar {
  position: fixed;
  height: 75px;
  width: 100vw;
  background-color: white;
  padding: 25px 16px;
  top: 0;
  left: 0;
  z-index: 3;

  @include sm-tablets {
    padding: 25px 39px;
  }

  @include md-desktop {
    display: none;
  }

  > button {
    padding: 5px 3px;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &::before,
    &::after {
      content: '';
      display: block;
      width: 18px;
      height: 2px;
      background-color: var(--black-100);
      transition: transform 200ms ease-out;
      border-radius: 4px;
    }

    span {
      display: block;
      width: 18px;
      height: 2px;
      background-color: var(--black-100);
      transition: width 200ms ease-out;
      transition-delay: 200ms;
      border-radius: 4px;
    }

    &.active {
      span {
        transition-delay: 0s !important;
        width: 0;
      }

      &::after {
        transition-delay: 200ms;
        transform: TranslateY(-6px) Rotate(-45deg);
      }

      &::before {
        transition-delay: 200ms;
        transform: TranslateY(6px) Rotate(45deg);
      }
    }
  }
}
