.settings__access {
  &__search {
    margin-top: 24px;

    @include md-desktop {
      margin-top: 0;
    }
  }
  &__table {
    .table-row {
      grid-template-columns: 40px 1fr 1fr;

      @include sm-tablets {
        grid-template-columns: 40px repeat(4, minmax(0, 1fr));
      }

      @include md-desktop {
        grid-template-columns: 40px repeat(5, minmax(0, 1fr)) 40px;
      }
    }
    .table-head {
      font-size: 12px;
      font-weight: 500;
      color: var(--blue-100);

      @include md-desktop {
        font-size: 14px;
      }

      .box-dropdown {
        &__menu {
          &__item {
            padding-left: 0;
            padding-right: 0;
          }
        }
        &__button {
          padding-left: 0;
          padding-right: 0;
          justify-content: space-between;
          color: var(--blue-100);
          font-weight: 500;
          font-size: 12px;

          &::after {
            background-color: white;
          }
        }

        @include md-desktop {
          display: none;
        }
      }
    }

    .table-row__number,
    .table-column {
      font-size: 10px;
      font-weight: 400;
      color: var(--blue-100);

      &.cursor-pointer {
        cursor: pointer;
      }

      button {
        display: flex;
        width: 24px;
        height: 24px;
        color: var(--main-100);
      }

      @include sm-tablets {
        font-size: 12px;
      }

      @include md-desktop {
        font-size: 14px;
      }
    }

    .table-head,
    .table-column {
      &.column-sm {
        display: none;

        @include sm-tablets {
          display: block;
        }
      }

      &.column-md {
        display: none !important;

        @include md-desktop {
          display: block !important;
        }
      }

      &.column-xs {
        display: block;

        @include sm-tablets {
          display: none;
        }
      }
    }
  }
}
