.summary-guest {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;

  &__modal {
    max-width: 445px;
    background-color: white;
    padding: 67px 48px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      line-height: 160%;
    }

    a {
      font-weight: 500;
      font-size: 14px;
      line-height: 160%;
      width: 200px;
    }
  }
}
