.verification__content__checkup {
  padding-bottom: 70px;

  @include md-desktop {
    padding-top: 5px;
  }

  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 20px;

    @include md-desktop {
      font-size: 14px;
    }
  }

  .text-input {
    input {
      margin-bottom: 20px;
    }
    label {
      font-size: 12px;
    }
  }

  &__edit {
    margin-top: 19px;
    height: 48px;
    width: 100%;
    text-align: center;
    line-height: 48px;
    background-color: var(--main-100);
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;

    @include sm-tablets {
      margin-top: 0;
    }
  }

  & + .row .step__buttons {
    .button-next {
      order: 2;
    }
  }
}
