.view-data {
  width: 100%;
  padding: 0 15px;

  &__section {
    width: 100%;

    h3 {
      line-height: 48px;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 18px;
    }

    & + & {
      margin-top: 40px;
    }

    &__content {
      width: 100%;
      background-color: white;
      border-radius: 10px;
      padding: 39px 20px;

      @include md-desktop {
        padding: 35px 20px;
      }

      .read-field {
        > div {
          margin-bottom: 24px;

          @include md-desktop {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .personal-data {
    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .box-button {
        width: 60px;
        height: 48px;
        background-color: var(--white-10);
        color: var(--main-100);
        margin-bottom: 20px;

        @include sm-tablets {
          width: 210px;
        }

        @include md-desktop {
          width: 160px;
          svg {
            display: none;
          }
        }

        span {
          display: none;

          @include sm-tablets {
            display: block;
          }
        }
      }
    }
  }

  .cash {
    .row {
      row-gap: 16px;

      @include md-desktop {
        row-gap: 10px;
      }
    }

    .checkbox-button {
      min-height: 33px;
      background-color: var(--gray-10);
      padding: 8px;

      @include md-desktop {
        padding: 0;
        min-height: 24px;
        background-color: transparent;
      }
    }
  }

  .questionnaire {
    h4 {
      font-size: 16px;
      font-weight: 500;
    }

    h5 {
      font-weight: 400;
      font-size: 12px;
    }

    .row {
      row-gap: 48px;

      @include md-desktop {
        row-gap: 40px;
      }
    }

    .questionnaire-question {
      display: flex;
      flex-direction: column;
      row-gap: 16px;

      @include md-desktop {
        row-gap: 10px;
      }
    }
  }
}
