@mixin font($font-name, $font-style, $font-weight, $font-url) {
  @font-face {
    font-family: $font-name;
    font-style: $font-style;
    font-weight: $font-weight;
    font-display: swap;
    src: url($font-url);
  }
}
